%h1 Listing events
%table
  %thead
    %tr
      %th Title
      %th Start date
      %th End date
      %th Location
      %th Agenda
      %th Address
      %th Organizer
      %th Posted
      %th Updated
      %th{:colspan => "3"}
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.start_date.strftime("%d %B %Y")
        %td= event.end_date.strftime("%d %B %Y")
        %td= event.location
        %td= event.agenda
        %td= event.address
        - @event_owner = event.event_owner(event.organizer_id)  #remember this
        %td= @event_owner.email
        %td= event.posted
        %td= event.updated
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Event', new_event_path
