!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Evento"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-section
        .title-area
          .name
            %ul
              %li 
                %h1=link_to Evento, root_path
        .left
          %ul
            %li=link_to "Event", events_path        
        .right
          %ul
            - if user_signed_in?
              %li=link_to "#{current_user.email}"
              %li=link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li=link_to "Login", new_user_session_path
              %li=link_to "Signup", new_user_registration_path  
    = yield
    = javascript_include_tag "application"
